<div class="content-body">
<div class="profile_top">

  <div class="div_picture">
    <div class="profile_picture">
      <img src="https://mail.google.com/mail/u/0/?ui=2&ik=010137a4c6&view=fimg&th=14c71369ee20b8ee&attid=0.1&disp=inline&realattid=f_i7xo8zh90&safe=1&attbid=ANGjdJ_5J3Th5sdGLf_UIFRlKWbCFOi3jssR7OmL8foLUYFTymDObdKwgKURFUShEqh7a6CBWSMaVNmt15JPL1STGvjsxZapFtIUR3I9q3wznVjWezqOOT9kW0HlDpw&ats=1427828550002&rm=14c71369ee20b8ee&zw&sz=w2512-h1074" height="220" width="220">
    </div>
  </div>

  <div class="div_toptext">
    <h1 class="text_top1">Carlos Santana Roldán</h1>
    <h2 class="text_top2">Web Developer</h2>
    <p>Turpis, sit amet iaculis dui consectetur at. Cras sagittis molestie orci. Suspendisse ut laoreet mi. Phasellus eu tortor vehicula, blandit enim eu, auctor massa. Nulla ultricies tortor dolor, sit amet suscipit enim condimentum id. Etiam eget iaculis tellus. Varius sit amet.</p>
  </div>

</div>
  {{{ body }}}
</div>
