<div class="content-body">
    <div class="profile-top">
        <div class="picture">
            <div class="profile-picture">
                <img src="/images/carlos.png" alt="Carlos Santana" />
            </div>
        </div>

        <div class="top-text">
            <h1 class="text-top1">Carlos Santana Roldán</h1>
            <h2 class="text-top2">Web Developer</h2>

            <p>Turpis, sit amet iaculis dui consectetur at. Cras sagittis molestie orci. Suspendisse ut laoreet mi. Phasellus eu tortor vehicula, blandit enim eu, auctor massa. Nulla ultricies tortor dolor, sit amet suscipit enim condimentum id. Etiam eget iaculis tellus. Varius sit amet.</p>
        </div>
    </div>
    <div class="timeline">
        <h2 class="profile">Profile</h2>
        <div class="line-content">
            <h3>Name</h3>
            <p>Carlos Santana Roldán</p>
        </div>
        <div class="line-content">
            <h3>Born</h3>
            <p>21 Nov 1988 – Colima, MEX.</p>
        </div>
        <div class="line-content">
            <h3>Contact information</h3>
            <p>Email: carlos@milkzoft.com</p>
            <p>Skype: czantany</p>
        </div>
        <div class="line-content">
            <h3>Find me on</h3>
            <p>
                <a href="https://www.facebook.com/czantany" target="_blank" class="socials"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/czantany" target="_blank" class="socials"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/profile/view?id=51402834&trk=nav_responsive_tab_profile" target="_blank" class="socials"><i class="fa fa-linkedin"></i></a>
                <a href="http://codejobs.biz/" target="_blank" class="socials"><i class="fa fa-link"></i></a>
            </p>
        </div>
        <h2 class="profile">Education</h2>
        <div class="line-content">
            <h3>Master Business Administration</h3>
            <h4 class="line-time"><i class="fa fa-university line-time"></i> Tecnológico de Monterrey (3 Years Course) <span class="line-date">2012 - 2015</span></h4>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        <div class="line-content">
            <h3>Telematics Engineer</h3>
            <h4 class="line-time"><i class="fa fa-university line-time"></i> University of Colima (4 Years Course) <span class="line-date">2006 - 2010</span></h4>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        <h2 class="profile">Work Experience</h2>
        <div class="line-content">
            <h3>Walt Disney</h3>
            <h4 class="line-time"><i class="fa fa-flag line-time"></i> Sr. Node.js, Angular.js &amp; Senior PHP Developer <span class="line-date">2013 - Current</span></h4>
            <p class="description">Node.js, Angular.js, Handlebars.js, MongoDB, Backbone.js, HTML5, CSS3 and PHP Developer at Walt Disney World. </p>
        </div>
        <div class="line-content">
            <h3>MilkZoft</h3>
            <h4 class="line-time"><i class="fa fa-flag line-time"></i> CEO <span class="line-date">2008 - 2013</span></h4>
            <p class="description">CEO of MilkZoft, I developed a PHP framework called ZanPHP (www.zanphp.com), and CMS called MuuCMS. </p>
        </div>
        <div class="line-content">
            <h3> Univision</h3>
            <h4 class="line-time"><i class="fa fa-flag line-time"></i> Senior PHP Developer <span class="line-date">2013 - 2013</span></h4>
            <p class="description">Senior PHP Developer at Univision Communications Inc. </p>
        </div>
        <div class="line-content">
            <h3> Internet Brands</h3>
            <h4 class="line-time"><i class="fa fa-flag line-time"></i> Senior PHP Developer <span class="line-date">2012 - 2013</span></h4>
            <p class="description">Senior PHP Developer at Internet Brands. </p>
        </div>
        <div class="line-content">
            <h3> GE</h3>
            <h4 class="line-time"><i class="fa fa-flag line-time"></i> Front End Developer <span class="line-date">2011 - 2012</span></h4>
            <p class="description">Senior PHP Developer at General Electric.</p>
        </div>
        <div class="line-content">
            <h3> Gobierno del Estado de Colima</h3>
            <h4 class="line-time"><i class="fa fa-flag line-time"></i> Web Developer <span class="line-date">2011 - 2011</span></h4>
            <p class="description">Web Developer at Gobierno del Estado de Colima. </p>
        </div>
        <h2 class="profile">Skills</h2>
        <div class="line-content progress-span">
            <h3> Professional skills</h3>
            <progress value="80" max="100"></progress>
                <span class="progress-span">NodeJS</span>
                <span class="progress-span-percent">80%</span>
            <progress value="90" max="100"></progress>
                <span class="progress-span">AngularJS</span>
                <span class="progress-span-percent">90%</span>
            <progress value="70" max="100"></progress>
                <span class="progress-span">JavaScript/jQuery</span>
                <span class="progress-span-percent">70%</span>
            <progress value="50" max="100"></progress>
                <span class="progress-span">HTML5/CSS3</span>
                <span class="progress-span-percent">50%</span>
            <progress value="80" max="100"></progress>
                <span class="progress-span">PHP</span>
                <span class="progress-span-percent">80%</span>
            <progress value="90" max="100"></progress>
                <span class="progress-span">MySQL</span>
                <span class="progress-span-percent">90%</span>
            <progress value="90" max="100"></progress>
                <span class="progress-span">JSON</span>
                <span class="progress-span-percent">90%</span>
            <progress value="60" max="100"></progress>
                <span class="progress-span">AJAX</span>
                <span class="progress-span-percent">60%</span>
            <h2 class="profile">Portafolio</h2>
            <div class="line-content">
                <h3>Work collection</h3>
            </div>
            <h2 class="profile">Contact</h2>
            <div class="line-content">
                <h3>Send me a message</h3>
                <div class="contact-wrapper">
                    <form action="#">
                        <input type="text" name="name" placeholder="Name" required>
                        <input type="email" name="email" placeholder="Email address" required>
                        <input type="text"  name="subject" placeholder="Subject" required>
                        <textarea type="text"  name="message" placeholder="Write you message" class="input-text" required></textarea>
                        <button id="sendEmail" class="button">SEND</button>

                    </form>
                </div>
                <div class="contact-info">
                    <span class="contact-email">Email</span>
                    <p>carlos@milkzoft.com</p>
                </div>
            </div>
            <div class="line-content">
                <span class="thank-you">Thank You</span>
            </div>
        </div>
    </div>
</div>


















