.btn {
    height: 30px;
    line-height: 30px;
    margin-right: 3px;
    padding-top: 0px;
}

.btn-default {
    background-color: @darkGrey;
    background-image: none;
    border-color: @lightGrey;
    border-radius: 4px;
    border: 1px solid transparent;
    color: @white;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 0px 5px 13px 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-text {
    display: inline-block;
    line-height: 30px;
    overflow: hidden;
    width: 0;
}

.content-body {
    background-color: @white;
    height: 100%;
    margin: 0 auto;
    width: 975px;
}

.profile-top {
    border-bottom: 1px solid red;
    height: 245px;
    padding-top: 50px;
}

.picture {
    display: inline-block;
    float: left;
    width: 33.33333333%;

    .profile-picture {
        .border-radius(100%);
        border: 3px solid #0099CC;
        height: 220px;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        width: 220px;

        img {
            width: 220px;
            height: 220px;
        }
    }
}

.top-text {
    width: 58.33333333%;
    float: left;

    .text-top1 {
        border-bottom: 1px solid @blueSky;
        color: @blueSky;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 0;
    }

    .text-top2 {
        color: @grey;
        font-family: inherit;
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 5px;
        padding: 0px;
        text-align: left;
    }
}

.top-colors {
    padding: 0;

    .top-color {
        background: @aquaGreen;
        float: left;
        height: 8px;
        width: 20%;
    }

    .top-color1 {
        background: @topColor1;
    }

    .top-color2 {
        background: @topColor2;
    }

    .top-color3 {
        background: @topColor3;
    }

    .top-color4 {
        background:  @topColor4;
    }

    .top-color5 {
        background: @topColor5;
    }
}

.top-buttoms {
    padding-right: 70px;
    padding-top: 15px;
    text-align: right;
}

.fa-download {
    font-size: 2em;
    padding-right: 7px;
}

.fa-envelope-o {
    font-size: 2em;
}
